body,html
  min-width 1120px
  height 2000px
#wrap
  height 100%
  width 100%
  background #fff

  #head
    width 100%
    height 70px
    background #fff
    position relative

    .headContainer
      height 100%
      width 85%
      padding 0 15px
      margin 0 74.5px
      background #fff
      display flex
      justify-content space-between
      align-items center
      .navbar-right
        height 100%
        width 70%
        width 1170px
        display flex
        justify-content space-between
        align-items center
        a
          color #000
          font-weight bold
        .navbar-right-left
          margin-left 50px
          .qh:hover
            color #EA4942
          i
            color #EA4942

        .navbar-right-right
          height 100%
          width 70%
          display flex
          justify-content space-around
          align-items center
          .on
            color #E94840
          a:hover
            color #E94840
          .dl
            background #E94840
            border-radius 10%
            color #FBFFFF
            padding 5px
            &:hover
              color #FBFFFF
  #banner
    width 100%
    height 420px
    background #EEEBE6
    position relative
    .fullBanner
      width 100%
      height 420px
      position absolute
      left 0px
      top 0px
      right 0px
      margin 0px auto
      .bj
        width 100%
        height 100%
        ul
          width 300%
          height 100%
          li
            height 100%
            width 33.33%
            float left
          .bjli1
            background url("../imgs/banner1.jpg") center center no-repeat
          .bjli2
            background url("../imgs/banner2.jpg") center center no-repeat
          .bjli3
            background url("../imgs/banner3.jpg") center center no-repeat
      .hd
        position absolute
        left 0px
        right  0px
        bottom 10px
        ul
          display flex
          justify-content center
          align-items center
          height 10px
          width 100%
          li
            border-radius 50%
            width 10px
            height 10px
            background #999
            margin 0px 5px

    .bannerContianer
      height 100%
      width 85%
      margin 0 auto
      position relative

      .bannerNav
        width 180px
        height 100%
        position absolute
        z-index 2
        left 0
        top 0px
        margin-right 10%
        background #757881
        ul
          width 100%
          height 100%
          display flex
          justify-content space-around
          align-items center
          flex-direction column
          position relative
          li

            &:hover
              img
                visibility hidden
              ul
                display block

            width 100%
            height 10%
            display flex
            justify-content space-around
            align-items center


            >a
              width 100%
              height 100%
              padding 0 40px
              display flex
              justify-content space-around
              align-items center
              &:hover
                background #60646D

              span
                color #fff
                font-weight bold



            ul
              position absolute
              left 180px
              top 0px
              width 160px
              height 10%
              display none
              background #fff

              li
                width 100%
                height 100%
                background #fff
                a
                  &:hover
                    color #EA4942
                    background #fff
                  color #000
                  font-weight bold



  #box1
    width 100%
    .box1Container
      width 85%
      padding 50px 0 0




